@font-face {
  font-family: "HozeGameFont";
  src: url("/public/assets/fonts/AGENCYR.TTF") format("truetype");
}

text {
  font-family: "HozeGameFont";
  position: relative;
  font-size: 22.5px;
  font-weight: normal;
  color: aliceblue;
  text-align: center;
  letter-spacing: 1px;
}

.main-box {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  user-select: none;
  /* background-color: aqua; */
  scale: 0.8;
}

.fondo-box {
  position: absolute;
  top: 0;
  left: 24%;
  z-index: 2;
  scale: 0.95;
}

.second-box {
  position: absolute;
  top: 55px;
  left: 29.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  /* background-color: rgba(165, 42, 42, 0.411); */
  z-index: 3;
}

.box-img {
  position: relative;
  width: 250px;
  height: 100%;
  left: 6px;
}

.tittle-aviss {
  letter-spacing: 3px;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.box-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.box-btns text {
  letter-spacing: 5px;
  font-size: 15.5px;
  text-align: center;
}

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid white;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(170, 100%, 17%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 7px 10px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(163, 45%, 9%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 97, 65) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 100ms;
}

.Leave:hover {
  background-color: hsl(0, 100%, 17%);
}

.Leave:active {
  background-color: hsl(0, 44%, 11%);
}

/* MENSAJE DE RECOMPENSAS */

.reward-box {
  position: absolute;
  top: 10%;
  left: 22%;
  z-index: 2;
  scale: 1.1;
}

.alert-box {
  position: absolute;
  top: 95px;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 660px;
  /* background-color: rgba(165, 42, 42, 0.411); */
  z-index: 3;
}

.coin-box {
  position: relative;
  width: 250px;
  height: 100%;
  left: 6px;
}

.separador {
  padding: 7px;
}

.tittle-aviss2 {
  letter-spacing: 3px;
  font-size: 25.5px;
}

/* MENSAJE DE PUNTO DE CONTROL */

.point-box {
  position: absolute;
  top: 10%;
  left: 22%;
  z-index: 2;
  scale: 1.1;
}

.tree-box {
  position: relative;
  width: 55%;
  height: 100%;
  left: 6px;
}

.tittle-Point {
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 100;
}

/* MENSAJE AL FINALIZAR NIVEL */

.endLeve-backGround {
  position: absolute;
  top: -20px;
  left: 24%;
  z-index: 2;
  scale: 1.1;
}

.components-box {
  position: absolute;
  top: 0px;
  left: 24.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 100%;
  /* background-color: rgba(165, 42, 42, 0.411); */
  z-index: 3;
}

.nextLevel:hover {
  background-color: hsl(260, 43%, 11%);
}

.nextLevel:active {
  background-color: hsl(274, 77%, 15%);
}

.box-elements-img {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  left: 6px;
  padding-left: 15%;
}
